<div class="main__container">
    <div class="form__container">
        <div class="form__header">
            <h2>Welcome Back!</h2>
            <p>Sign in to your account.</p>
        </div>

        <form id="form__signin" action="/users/signin" method="post">
            <input type="email" id="email" placeholder="Email" required autofocus>
            <input type="password" id="password" placeholder="Password" required>

            <input type="submit" id="submit__btn" value="Sign In">
        </form>
    </div>

    <div>
        Don't have an account? <a href="/">Create One</a>.
    </div>
</div>
