<div class="main__container">
    <div class="form__container">
        <div class="form__header">
            <h2>Sign Up</h2>
            <p>Please fill in this form to create an account!</p>
        </div>

        <form id="form__signup" action="/users/register" method="post">
            <input type="text" id="first__name" placeholder="First Name" required autofocus>
            <input type="text" id="last__name" placeholder="Last Name" required>

            <input type="text" id="user__name" placeholder="Username" required>

            <input type="email" id="email" placeholder="Email" required>
            <input type="password" id="password" placeholder="Password" required>
            <input type="password" id="password__confirm" placeholder="Confirm Password" required>

            <input type="submit" id="submit__btn" value="Sign Up">
        </form>
    </div>

    <div>
        Already have an account? <a href="/signin">Sign in</a>.
    </div>

</div>
