<head>
    <!-- used stylesheets -->
    <link rel="stylesheet" href="css/home.css">
</head>
<body>
    <h1>
        Hello, <span><%= user.first_name %></span>!
    </h1>
    <main>
        <img src="assets/svgs/undraw_web_shopping_re_owap.svg" alt="Home Shopping SVG">
    </main>
</body>
