/* *************************************************************************************************** */
/* ***************************************** Home Page *********************************************** */
/* *************************************************************************************************** */
main {
    padding: 20px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* Main Title */
h1 {
    padding: 20px 30px;
    font-size: 20pt;
    font-weight: 400;
}

/* User's First Name */
h1 span {
    font-weight: 600;
}

/* Main Image */
img {
    width: 40%;
}
