@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    position: relative;
}

/* *************************************************************************************************** */
/* ****************************************** Header ************************************************* */
/* *************************************************************************************************** */
header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* *************************************************************************************************** */
/* ************************************* Signup Form ************************************************* */
/* *************************************************************************************************** */
.main__container {
    position: absolute;
    top: 0;
    left: 0;

    background-color: #0aa1dd;
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form__container {
    background-color: #ffffff;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    border: 1px solid #aaaaaa;
    border-radius: 10px;
    overflow: hidden;
}

/* Form Header Container */
.form__header {
    width: 100%;

    padding: 20px;

    border-bottom: 1px solid #aaaaaa;
}

/* Form Header Items */
.form__header h2 {
    font-size: 18pt;
    font-weight: 600;
}

.form__header p {
    margin-top: 10px;

    font-weight: 500;
    font-size: 11pt;
    color: #aaaaaa;
}

/* Main Form */
#form__signup,
#form__signin {
    min-width: 35vw;

    padding: 20px;

    display: grid;
    gap: 10px 10px;
}

#form__signup {
    height: 60vh;

    grid-template-areas: "first last"
                         "username username"
                         "email email"
                         "password password"
                         "confirm confirm"
                         "submit .";
}

#form__signin {
    height: 35vh;

    grid-template-areas: "email email"
                         "password password"
                         "submit .";
}

/* Form Items */
.form__container form input {
    background-color: #dddddd;

    max-height: 50px;

    padding-left: 12px;

    border: 1px solid #aaaaaa;
    border-radius: 5px;
}

.form__container form input[type="submit"] {
    background-color: #0aa1dd;

    color: #ffffff;
    font-weight: 600;
    font-size: 14pt;

    padding-left: 0;

    border: 1px solid #aaaaaa;
    border-radius: 5px;
}

.form__container form input:focus {
    outline: 2px solid #0aa1dd;
}

#first__name {
    grid-area: first;
}

#last__name {
    grid-area: last;
}

#user__name {
    grid-area: username;
}

#email {
    grid-area: email;
}

#password {
    grid-area: password;
}

#password__confirm {
    grid-area: confirm;
}

#submit__btn {
    grid-area: submit;
}

#submit__btn:hover {
    cursor: pointer;
    background-color: #eeeeee;
    color: #0aa1dd;

    border-color: #0aa1dd;
}

/* Caption Under Form Container */
.form__container + div {
    padding: 10px 0;

    color: #ffffff;
    font-weight: 500;
    font-size: 11pt;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.form__container + div a {
    text-decoration: underline;
    margin-left: 8px;

    color: #ffffff;
    font-weight: 600;
    font-size: 11pt;
}

.form__container + div a:hover {
    text-decoration: none;
    color: #eeeeee;
}

/* *************************************************************************************************** */
/* ****************************************** Footer ************************************************* */
/* *************************************************************************************************** */
footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
